/* atores.component.css */
.p-table {
  border-radius: 8px;
  overflow: hidden;
}

.p-dialog .p-field {
  margin-bottom: 1rem;
}

.p-button-rounded {
  width: 36px;
  height: 36px;
}

.footer-buttons {
  display: flex;
  justify-content: center; /* centraliza os botões */
  gap: 1rem;               /* espaço entre eles */
  margin-top: 1rem;        /* espaço acima */
}

