<div class="crud-container">
  <h2>Gerenciamento de Dependentes</h2>

  <div class="toolbar">
    <p-button label="Novo Dependente" icon="pi pi-plus" (click)="abrirDialog()"></p-button>
  </div>

  <p-table [value]="dependentes" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sócio</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dependente>
      <tr>
        <td>{{dependente.idDependente}}</td>
        <td>{{dependente.nome}}</td>
        <td>{{getNomeSocio(dependente.socioId)}}</td>
        <td>
          <p-button icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="abrirDialog(dependente)"></p-button>
          <p-button icon="pi pi-trash" class="p-button-rounded p-button-danger"
            (click)="excluir(dependente)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog header="{{editingDependente ? 'Editar Dependente' : 'Novo Dependente'}}" [(visible)]="displayDialog"
    [modal]="true" [closable]="true">
    <form [formGroup]="dependenteForm" (ngSubmit)="salvar()">
      <div class="p-fluid">
        <div class="p-field">
          <label for="nome">Nome</label>
          <input id="nome" type="text" pInputText formControlName="nome">
        </div>

        <div class="p-field">
          <label for="socio">Sócio</label>
          <p-dropdown id="socio" [options]="socios" optionLabel="nome" optionValue="idSocio" formControlName="socioId"
            placeholder="Selecione um sócio"></p-dropdown>
        </div>
      </div>

      <p-footer>
        <div class="footer-buttons">
          <p-button label="Cancelar" icon="pi pi-times" (click)="displayDialog = false" class="p-button-text">
          </p-button>

          <p-button label="Salvar" icon="pi pi-check" type="submit">
          </p-button>
        </div>
      </p-footer>
    </form>
  </p-dialog>
</div>